.border{
margin: 3px;

}
.flex{
    display: flex;
}
.justify-center{
    justify-content: center;
}
.items-center{
    align-items: center;
}
.bg-black{
    background-color: black;
}


/* Additional styles for demonstration */
.bg-gray {
    background-color: #111010;
}

.rounded {
    border-radius: 10px;
}

.container {
    display: flex;
    height: 100vh;
}

.m-1{
    margin: 10px;
}
.invert {
    filter: invert(1);
}

.color-white {
    color: white !important;
}
.border-readius{
    border-radius: 15px;
}
.p1{
    padding: 10px;
}
.fixed{
    position: fixed;
}